* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box; }

/* SASS VARIABLES */
/* END OF SASS VARIABLES */
/* BOOTSTRAP OVERWRITE */
.form-control {
  height: 2.2rem; }

.form-control:focus, .form-control:active, .focus {
  border-color: #fff;
  outline: none !important;
  box-shadow: 0 0 0 1px #92cc9d; }

.row {
  margin: 0;
  flex-wrap: nowrap; }

.flx-col {
  display: flex;
  flex-flow: column; }

/* END OF BOOTSTRAP OVERWRITE */
html {
  min-height: 100%; }

body {
  min-height: 100vh;
  font-family: Lato, Arial,"Helvetica Neue",Helvetica,sans-serif;
  display: flex;
  flex-flow: column; }

.form-lbl {
  font-size: 0.8em;
  font-weight: 600;
  margin-left: -3px; }

.form-control, .btn {
  border-radius: 0.15rem; }

.form-group .form-control {
  padding: 5px;
  border-color: #d2d2d2; }

.search-page-blur {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  background-color: rgba(0, 0, 0, 0.6); }

a {
  transition: 0.3s; }

.p-relative {
  position: relative; }

a:hover {
  text-decoration: none; }

#logo {
  background-image: url("../images/forashare_logo.png");
  width: 210px;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
  height: 100%; }

ul {
  list-style: none;
  font-size: 1rem; }

#sign_in_popup {
  display: none; }
  #sign_in_popup.open-signin-popup {
    display: block; }

#page_banner {
  border-top: 2px solid #92cc9d;
  z-index: 2;
  width: 100%;
  height: 60px;
  max-height: 60px;
  background-color: #f8f8f8;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 3px 0 rgba(0, 0, 0, 0.14);
  position: sticky;
  top: 0; }

#banner_content {
  position: relative;
  width: 100%; }

#top_bar {
  z-index: 1;
  flex-grow: 1;
  margin: 0 auto;
  max-width: 1290px;
  padding: 0px 15px;
  height: 100%;
  justify-content: space-between; }

#register_greeting a {
  color: #222;
  font-size: 0.9rem; }
  #register_greeting a:hover {
    color: #2f7dce; }

#search_area {
  flex-grow: 1;
  margin: 0px 10px; }

#page_search_input {
  font-size: 0.9em;
  border-radius: 3px 0px 0px 3px;
  border-right: 0px; }

.search-forum-list {
  cursor: pointer;
  padding: 2px;
  width: 55px;
  font-size: 0.8em;
  border-radius: 0px 3px 3px 0px;
  border-left: 1px solid #bbb;
  font-family: consolas, monospace;
  background-color: #f2f2f2; }
  .search-forum-list:active, .search-forum-list:focus, .search-forum-list.focus {
    background-color: #f2f2f2;
    border-left: 0px; }

.profile-icon-letter {
  width: 100%;
  height: auto;
  max-width: 30px;
  max-height: 30px;
  font-size: 20px;
  text-align: center;
  background-color: #5e7ea8;
  color: #fff;
  box-shadow: 1px 1px 1px 0px #ccc;
  border-radius: 50%;
  font-family: Lato, monospace;
  text-transform: capitalize; }

.banner-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 40px;
  cursor: pointer;
  font-size: 1.28em;
  height: 100%; }
  .banner-icon .ico {
    color: #a0a0a0;
    padding: 1px; }
  .banner-icon#notification:hover, .banner-icon#follow_activity:hover, .banner-icon#notification:hover, .banner-icon#searchbar_trigger:hover {
    background-color: #eee; }
  .banner-icon:hover {
    transition: 0.3s; }
    .banner-icon:hover .ico {
      color: #000; }
    .banner-icon:hover .profile-icon-letter {
      background-color: #3e78c4; }
  .banner-icon:not(:first-of-type) {
    margin-left: 20px; }

.banner-icon-active:not(#options) {
  background-color: #e2e2e2; }
.banner-icon-active .ico {
  color: #000; }

#banner_signin::after {
  width: 0;
  height: 0;
  content: '';
  border-top: 0;
  border-right: 6px solid transparent;
  border-bottom: .3em solid #777;
  border-left: 6px solid transparent;
  position: absolute;
  bottom: 0px;
  right: 40%;
  display: none; }

#banner_signin.open::after {
  display: block; }

#options::after {
  width: 0;
  height: 0;
  content: '';
  border-top: 0;
  border-right: 6px solid transparent;
  border-bottom: .3em solid #777;
  border-left: 6px solid transparent;
  position: absolute;
  bottom: 0px;
  display: none; }

#options.open-options::after {
  display: block; }

.banner-search-image.current-forum {
  display: inline-block; }

#search_region {
  align-items: center; }

.banner-search-image {
  padding: 0px 6px;
  display: none;
  max-width: 38px;
  height: auto; }

#logo_search {
  flex-grow: 1;
  justify-content: space-between; }

#page_search_box {
  flex-grow: 1; }

#register_greeting .reg-access {
  display: flex;
  align-items: center; }
  #register_greeting .reg-access:not(:first-of-type) {
    margin-left: 20px; }

#notification_ctrls, #register_greeting {
  padding: 0px 15px; }

#searchbar_trigger {
  display: none;
  align-items: center; }

#more_options {
  padding-left: 15px;
  position: relative; }

.options .ico {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }

#more_options_popup {
  display: none;
  cursor: default;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #fff;
  min-width: 150px;
  width: auto;
  padding: 7px 0px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
  border: 1px solid #888;
  border-radius: 0.15rem; }
  #more_options_popup #banner_more_options_list {
    font-size: 0.89rem;
    margin: 0px; }
    #more_options_popup #banner_more_options_list .options-separator {
      border-bottom: 1px solid #bbb;
      margin: 5px 0.2rem 4px; }
  #more_options_popup .more-options-link {
    width: 100%;
    padding: 0.3rem 0.75rem;
    height: 100%;
    display: flex;
    cursor: pointer;
    color: #444;
    align-items: center; }
    #more_options_popup .more-options-link:hover {
      color: #fff;
      background-color: #007AF5; }

.divider {
  align-items: center;
  color: #ccc;
  font-size: 0.9em; }

.content-container {
  display: flex;
  flex-flow: row;
  margin: 0 auto;
  max-width: 1290px;
  padding: 0px 15px;
  flex-grow: 1; }

.ask-question-link-box {
  justify-content: flex-end;
  margin-bottom: 10px; }
  .ask-question-link-box .ask-question-link {
    color: #fff;
    background-color: #4BA05D;
    font-size: 0.85rem;
    padding: .375rem .75rem;
    border-radius: 0.15rem;
    transition: background-color 0.3s; }
    .ask-question-link-box .ask-question-link:hover {
      background-color: #3C804B; }

.main-content {
  padding-top: 10px;
  padding-bottom: 30px;
  flex-grow: 1; }

.reg-tab {
  border-bottom: 1px solid #d8d8d8; }

.reg-form {
  max-width: 400px;
  padding: 15px;
  /*border: 1px solid #bbb;
  border-radius: 2px;*/
  width: 100%; }

.reg-content {
  align-items: center;
  padding: 10px;
  margin-top: 10px; }

.reg-link {
  margin-bottom: -1px; }
  .reg-link:not(:last-of-type) {
    margin-right: 5px; }
  .reg-link a {
    border-radius: 3px 3px 0px 0px;
    border: 1px solid transparent;
    color: #2f7dce;
    padding: 10px;
    display: inline-block; }
    .reg-link a:hover:not(.reg-tab-active) {
      color: #222;
      background-color: #f2f2f2; }
    .reg-link a.reg-tab-active {
      color: #000;
      cursor: default;
      border-left-color: #d8d8d8;
      border-right-color: #d8d8d8;
      border-bottom-color: #fff;
      border-top: 3px solid #92cc9d; }

.sidebar {
  width: 160px;
  min-width: 160px;
  margin-right: 15px;
  border-right: 1px solid #ddd;
  z-index: 1; }

.sidebar-navlist li {
  transition: 0.4s;
  cursor: pointer;
  border-top: 1px solid transparent;
  border-bottom: 1px solid #f0f0f0;
  border-left: 1px solid transparent; }
  .sidebar-navlist li a {
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 8px;
    color: #2f7dce; }
    .sidebar-navlist li a:active {
      color: green !important; }
  .sidebar-navlist li:not(:last-of-type) {
    margin-bottom: 2px; }
  .sidebar-navlist li.active-nav {
    border-right: 3px solid #92cc9d;
    border-top-color: #e5e5e5;
    border-bottom-color: #e5e5e5;
    background-color: #f5f5f5; }
    .sidebar-navlist li.active-nav a {
      color: #000; }
  .sidebar-navlist li:hover:not(.active-nav) {
    background-color: #f8f8f8;
    border-left: 5px solid #92cc9d; }
    .sidebar-navlist li:hover:not(.active-nav) a {
      color: #222; }

#sign_in_panel {
  padding: 0.4rem 0.8rem; }
  #sign_in_panel input {
    height: auto; }

.reg-info {
  font-size: 1rem;
  max-width: 750px; }
  .reg-info a {
    text-decoration: underline; }
    .reg-info a:hover {
      text-decoration: none; }

.reg-btn {
  background-color: #87c2ed;
  margin-top: 10px; }
  .reg-btn:hover {
    background-color: #82c0ed; }
  .reg-btn:focus, .reg-btn:active {
    box-shadow: 0 0 0 0.1rem #73a9d1 !important; }

#sign_in_popup {
  position: absolute;
  right: -120%;
  top: 100%;
  width: 240px;
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid #999;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3); }
  #sign_in_popup .banner-form-element:not(:last-child) {
    margin-bottom: 12px; }
  #sign_in_popup .form-control {
    font-size: 0.9em;
    border-radius: 1px; }

.form-label-box {
  justify-content: space-between;
  align-items: center; }
  .form-label-box .label-info {
    font-size: 0.8rem;
    cursor: pointer;
    color: #444; }
    .form-label-box .label-info:focus, .form-label-box .label-info:hover {
      transition: 0.3s;
      font-weight: 900; }

.form-error ul {
  color: #ce2121;
  padding: 5px;
  border-radius: 1px;
  border: 1px solid #f00;
  list-style: disc;
  font-size: 0.8rem;
  list-style-position: inside; }
  .form-error ul li:not(:last-of-type) {
    margin-bottom: 5px; }

.tooltip {
  font-size: 0.8rem; }

.tooltip-inner {
  background-color: #555;
  padding: 3px 6px; }

.tooltip .arrow::before {
  border-bottom-color: #555;
  border-top-color: #555; }

.related {
  padding: 5px 10px; }
  .related .related-heading {
    padding-bottom: 6px;
    border-bottom: 1px solid #e5e5e5;
    font-size: 1.04em; }
  .related .related-list li {
    font-size: 0.9em; }
  .related .related-list li:not(:last-of-type) {
    margin-bottom: 11px; }
  .related .related-list a:hover, .related .related-list a:focus {
    text-decoration: underline;
    border-left: 2px solid transparent; }

#hamburger_box {
  display: none; }

/* Page Footer */
.page-footer {
  min-height: 40px;
  background-color: #222;
  width: 100%;
  font-family: arial, helvetica, serif;
  display: flex;
  flex-flow: column;
  align-items: center;
  color: #aaa;
  padding: 6px 15px; }
  .page-footer a {
    color: #bbb; }
    .page-footer a:hover {
      color: #fff; }
  .page-footer .copyright-details {
    padding: 3px 0px;
    font-size: 0.75rem; }

.page-footer-content {
  margin: 0 auto;
  max-width: 1290px;
  justify-content: center;
  font-size: 0.9rem; }
  .page-footer-content li {
    padding: 0px 3px; }

.dropdown-menu {
  font-size: 0.9rem; }
  .dropdown-menu .dropdown-item:active {
    color: green; }
  .dropdown-menu li {
    cursor: pointer; }
    .dropdown-menu li input {
      cursor: pointer; }
  .dropdown-menu li:not(:last-of-type) {
    border-bottom: 1px solid #eee; }

/* Questions Style */
.search-box-filter {
  background-color: #fffced;
  padding: 10px;
  border: 1px solid #eaeaea;
  display: flex;
  flex-flow: row;
  justify-content: flex-end; }
  .search-box-filter .form-control:focus, .search-box-filter .form-control:active, .search-box-filter .btn:focus, .search-box-filter .btn:active {
    box-shadow: 0 0 0 0.1rem #a7c4e2 !important; }
  .search-box-filter .btn {
    padding: 3px 6px; }

.dropdown-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 2px 5px;
  font-size: 0.9rem;
  text-transform: lowercase; }

.filter-search-box {
  margin-left: 8px; }
  .filter-search-box .question-filter-btn {
    color: #fff;
    background-color: #90adcc; }
    .filter-search-box .question-filter-btn:hover {
      transition: 0.5s;
      background-color: #46688c; }

.filter-forum-list-box {
  flex-grow: 1; }

.filter-forum-list-box, .filter-search-box {
  justify-content: flex-end; }

.filter-input, .filter-forum-list {
  font-size: 0.85rem;
  height: 30px; }

.filter-input {
  max-width: 300px; }

.filter-forum-list {
  max-width: 500px; }

.lists-box {
  margin-top: 10px; }

.sort-dropdown li:hover {
  transition: 0.3s; }
  .sort-dropdown li:hover:not(.active) {
    background-color: #eaf3fc; }
.sort-dropdown li:active {
  color: #777; }
.sort-dropdown .active {
  background-repeat: no-repeat;
  background-position: .4rem .6rem;
  background-size: .75rem .75rem;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23292b2c' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3E%3C/svg%3E");
  color: #3434da;
  background-color: #f4f7ff; }

.checkbox-dropdown-box {
  margin-right: 10px; }
  .checkbox-dropdown-box .question-type-name {
    display: flex;
    align-items: center; }

.filter-order-dropdown {
  margin-left: 10px; }

.filter-order-dropdown, .checkbox-dropdown-box {
  border: 1px solid #acc8e5;
  border-top-width: 2px;
  background-color: #fff;
  border-bottom: 0px;
  border-radius: 2px; }
  .filter-order-dropdown:hover, .checkbox-dropdown-box:hover {
    transition: 0.2s;
    border-color: #7994af; }

.checkbox-dropdown .dropdown-item {
  padding: .4rem 1rem; }
  .checkbox-dropdown .dropdown-item:hover {
    background-color: #eaf3fc; }
  .checkbox-dropdown .dropdown-item span {
    display: flex;
    flex-flow: row;
    align-items: center; }
  .checkbox-dropdown .dropdown-item[data-tag-check='1'] {
    background-color: #f4f7ff;
    color: #3434da; }

.filter-title {
  font-size: 1.2rem;
  text-align: center;
  margin: 0;
  padding: 10px 0px; }

.filter-header {
  border-bottom: 1px solid #ccc;
  padding: 4px 0px; }

.filter-controls {
  justify-content: space-between; }

.question-preview-text a {
  color: #000; }
  .question-preview-text a:hover, .question-preview-text a:active {
    color: #3434da; }

.question-preview {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 0.9rem;
  border-bottom: 1px solid #eee;
  padding: 5px; }
  .question-preview:not(:last-of-type) {
    margin-bottom: 9px; }
  .question-preview:hover {
    transition: 0.2s;
    background-color: #eaf3fc; }

.question-score {
  width: 55px;
  min-width: 55px;
  text-align: center; }

.question-preview-content {
  display: flex;
  flex-grow: 1;
  flex-flow: column;
  margin-left: 5px; }

.positive-score {
  background-color: #34b54b;
  color: #fff;
  border-radius: 2px; }

.negative-score {
  color: #555; }

.question-preview-details {
  margin-top: 5px;
  display: flex;
  justify-content: flex-end;
  font-size: 0.75rem;
  color: #aaa;
  font-family: helvetica, arial; }
  .question-preview-details .question-preview-answers {
    margin-right: 8px; }

.lists-box {
  font-size: 0.9rem; }

/* User list */
.preview {
  display: flex;
  flex-flow: row;
  align-items: flex-start;
  border: 1px solid #fff;
  padding: 5px 8px;
  min-width: 230px; }
  .preview:hover {
    transition: 0.3s;
    background-color: #eaf3fc;
    border-color: #eee; }
    .preview:hover .preview-image-box {
      transition: 0.3s;
      opacity: 0.8; }

.preview-details {
  border-left: 1px solid #ccc;
  padding-left: 5px;
  margin-left: 10px;
  display: flex;
  height: 100%;
  flex-flow: column;
  align-items: flex-start; }

.preview-image-box {
  box-shadow: -1px 1px 1px #ccc; }

.preview-image {
  width: 60px;
  height: 60px;
  border-radius: 0.2rem; }

.user-preview-forum {
  color: #555;
  font-size: 0.75rem; }
  .user-preview-forum:hover {
    color: #333;
    text-decoration: underline; }

.user-preview-name:hover {
  color: #3434da; }

.user-preview-score {
  font-weight: 600;
  color: #555;
  font-size: 0.8rem; }

.lists-box {
  display: flex;
  display: grid;
  flex-wrap: wrap;
  grid-gap: 10px; }

#users_list_grid {
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr)); }

#forums_list_grid {
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr)); }

.preview-count-box {
  color: #777;
  font-size: 0.75rem;
  font-family: helvetica, arial;
  margin-left: 2px; }
  .preview-count-box span:not(:last-of-type) {
    margin-right: 5px; }
  .preview-count-box .preview-count {
    font-weight: 600; }

/* Media Queries */
@media only screen and (max-width: 880px) {
  #search_area {
    position: absolute;
    display: none;
    top: 100%;
    margin: 0;
    width: 100%;
    left: 0;
    min-width: 100%;
    padding: 6px 10px;
    background-color: #e2e2e2; }

  #searchbar_trigger {
    display: flex;
    margin-right: 5px; }

  #page_banner {
    height: 50px; }

  html {
    font-size: 14px; }

  .profile-icon-letter {
    max-width: 27px;
    max-height: 27px;
    font-size: 19px; } }
@media only screen and (min-width: 651px) {
  .sidebar {
    display: block; }

  .sidebar-navigation {
    position: sticky;
    top: 70px; } }
@media only screen and (max-width: 650px) {
  .preview-image {
    width: 45px;
    height: 45px; }

  #logo {
    background-image: url("../images/forashare_logo_min.png");
    width: 48px;
    background-size: auto 30px; }

  #notification_ctrls, #register_greeting {
    padding: 0px 8px; }

  #top_bar {
    padding: 0px 8px; }

  .content-container {
    flex-flow: column;
    padding: 0px 8px; }

  .page-footer-content {
    padding: 0px 8px; }

  #more_options {
    padding-left: 8px; }

  .banner-icon:not(:first-of-type) {
    margin-left: 8px; }

  .sidebar {
    position: fixed;
    top: 50px;
    padding: 10px 8px;
    width: 100%;
    max-width: 300px;
    min-width: auto;
    left: 0px;
    border-bottom: 1px solid #ddd;
    border-radius: 0px 0px 3px 0px;
    background-color: #fff;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2); }

  #hamburger_box span {
    background-color: #52995e; }

  #hamburger_box.open-nav span {
    background-color: #a81414; }

  #hamburger_box {
    min-width: auto;
    display: block;
    padding: 8px 12px;
    border-right: 1px solid #d2d2d2;
    cursor: pointer; }
    #hamburger_box.banner-icon:hover {
      background-color: #d2d2d2; }

  #nav_hamburger {
    display: block;
    width: 24px;
    height: 100%;
    position: relative;
    transform: rotate(0deg);
    transition: .5s ease-in-out; }

  #nav_hamburger span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    border-radius: 4px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out; }

  #nav_hamburger span:nth-child(1) {
    top: 9px;
    transform-origin: left center; }

  #nav_hamburger span:nth-child(2) {
    top: 15px;
    transform-origin: left center; }

  #nav_hamburger span:nth-child(3) {
    top: 21px;
    transform-origin: left center; }

  #hamburger_box.open-nav span:nth-child(1) {
    transform: rotate(45deg);
    top: 8px;
    left: 4px; }

  #hamburger_box.open-nav span:nth-child(2) {
    width: 0%;
    opacity: 0; }

  #hamburger_box.open-nav span:nth-child(3) {
    transform: rotate(-45deg);
    top: 25px;
    left: 4px; }

  .sidebar {
    display: none; } }
@media only screen and (max-width: 450px) {
  #notification_ctrls {
    display: none; }

  #register_greeting a {
    font-size: 0.8rem; }

  .banner-search-image {
    max-width: 30px; }

  #search_area {
    padding: 4px; }

  #forums_list_grid, #users_list_grid {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr)); } }
@media only screen and (max-width: 350px) {
  .banner-icon {
    min-width: 33px; } }

/*# sourceMappingURL=main.css.map */
